[Unit]
Description={{ item.description }}
After=network.target

[Service]
SyslogIdentifier={{ item.syslog_identifier }}
Restart=always
RestartSec=5
Type={{item.service_type}}
User=pi
Group=pi
WorkingDirectory={{item.working_directory}}
ExecStart={{item.exec_start}}
TimeoutStopSec=20

{{item.pid}}

[Install]
WantedBy=multi-user.target
