[Unit]
Description=Watcher Service
After=network.target

[Service]
SyslogIdentifier=watcher
Restart=always
RestartSec=5
Type=forking
User=plex
Group=plex
WorkingDirectory= /opt/watcher/
ExecStart=/usr/bin/python3 watcher.py --daemon
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
